<section class="contacts" id='contacts'>
    <div class="container contacts__container">
        <div class="contacts__inner">
            <!-- <div class="contacts__information-box">
                <div class="contacts__tel-box">
                    <a href="tel:+9959999999" class="contacts__tel-link">Tel: +9959999999</a>
                </div>
                <div class="contacts__adress-box">
                    <p class="contacts__adress">Adress: Tbilisi, 4 David Agmashenebeli St</p>
                </div>
                <div class="contacts__mail-box">
                    <a href="mailto:someone@example.com" class="contacts__mail">Email: someone@example.com</a>
                </div>
            </div> -->
            
            <div class="contacts__schedule-box">
                <div class="contacts__schedule-title-box">
                    <h2 class="contacts__schedule-title">
                        Visit Today
                    </h2>
                    <p class="contacts__schedule-disc">
                        Tbilisi, 4 David Agmashenebeli
                    </p>
                </div>
                <ul class="contacts__schedule-list">
                    <li class="contacts__schedule-item">
                        <p class="contacts__schedule-item-title">Mon-Fri</p>
                        <p class="contacts__schedule-item-time">9am – 5pm</p>
                    </li>
                    <li class="contacts__schedule-item">
                        <p class="contacts__schedule-item-title">Sat</p>
                        <p class="contacts__schedule-item-time">9am – 5:30pm</p>
                    </li>
                    <li class="contacts__schedule-item">
                        <p class="contacts__schedule-item-title">Sun</p>
                        <p class="contacts__schedule-item-time">9am – 2pm</p>
                    </li>
                </ul>
                <div class="contacts__schedule-help-box">
                    <p class="contacts__schedule-help-title">need help? call us</p>
                    <a href="tel:+9959999999" class="contacts__schedule-link">Tel: +9959999999</a>
                </div>
            </div>
            
            
            <div class="contacts__map-wrapper">
                <div id="map" style="width: 600px; height: 450px"></div>
            </div>
            <div class="contacts__social-box">
                <a class="contacts__social-fb contacts__social-img-box" href="http://" target="_blank" rel="noopener noreferrer">
                    <img src="./assets/images/icons/contacts__fb.svg" alt="" class="contacts__social-img">
                </a>
                <a class="contacts__social-insta contacts__social-img-box" href="http://" target="_blank" rel="noopener noreferrer">
                    <img src="./assets/images/icons/contacts__insta.svg" alt="" class="contacts__social-img">
                </a>
                <a class="contacts__social-tg contacts__social-img-box" href="http://" target="_blank" rel="noopener noreferrer">
                    <img src="./assets/images/icons/contacts__insta.svg" alt="" class="contacts__social-img">
                </a>
            </div>
        </div>
    </div>
</section>
