<section class="food" id="food">
    <div class="container food__container">
        <div class="food__inner">
            <div class="food__title-box">
                <h2 class="food__title">FOOD AND DISHES</h2>
            </div>
            <div class="food__list-box">
                <div class="food__list-item food__item1">
                    <div class="food__item-img-box">
                        <img
                            src="./assets/images/cards/food/burger.webp"
                            alt="burger"
                            class="food__list-img"
                        />
                    </div>
                    <div class="food__item-title-box">
                        <h3 class="food__item-title">Danish Stegt Flaesk Recipe</h3>
                    </div>
                </div>
                <div class="food__list-item food__item2">
                    <div class="food__item-img-box">
                        <img src="./assets/images/cards/food/pizza.webp" alt="" class="food__list-img" />
                    </div>
                    <div class="food__item-title-box">
                        <h3 class="food__item-title">Danish Stegt Flaesk Recipe</h3>
                    </div>
                </div>
                <div class="food__list-item food__item3">
                    <div class="food__item-img-box">
                        <img src="./assets/images/cards/food/fry.webp" alt="" class="food__list-img" />
                    </div>
                    <div class="food__item-title-box">
                        <h3 class="food__item-title">Danish Stegt Flaesk Recipe</h3>
                    </div>
                </div>
                <div class="food__list-item food__item4">
                    <div class="food__item-img-box">
                        <img src="./assets/images/cards/food/shrimp.webp" alt="" class="food__list-img" />
                    </div>
                    <div class="food__item-title-box">
                        <h3 class="food__item-title">Danish Stegt Flaesk Recipe</h3>
                    </div>
                </div>
                <div class="food__list-item food__item5">
                    <div class="food__item-img-box">
                        <img src="./assets/images/cards/food/chicken.webp" alt="" class="food__list-img" />
                    </div>
                    <div class="food__item-title-box">
                        <h3 class="food__item-title">Danish Stegt Flaesk Recipe</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
