<header class="header">
    <div class="container header__container">
        <div class="header__inner">
            <div class="header__nav-box">
                <ul class="header__nav-list">
                    <li class="header__nav-item">
                        <a href="#beer" class="header__nav-link nav-link">Beer</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="#food" class="header__nav-link nav-link">Food</a>
                    </li>
                    <div class="header__logo-box">
                        <a href="#" class="header__logo-btn">
                            <img src="./assets/images/logo.png" alt="logo" class="header__logo" />
                        </a>
                    </div>
                    <li class="header__nav-item">
                        <a href="#contacts" class="header__nav-link nav-link">About Us</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="#contacts" class="header__nav-link nav-link">Contacts</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
